<!DOCTYPE html>
<html lang="pt-Br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>net work</title>
    <link rel="stylesheet" href="static/css/login.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <section>
        <nav class="menu-container">
            <img src="static/images/network.png" alt="" class="logo" height="30px" width="30px">
            <ul class="menu">
                <li>
                    <button>Register</button>
                </li>
                <li>
                    <button>Question</button>
                </li>
            </ul>
        </nav>
    </section>
    <section class="login">
        <div class="login-container">
            <header>
                <img src="static/images/network.png" class="logo" alt="">
                <h3>YOUR CONTACTS<br>SOCIAL NETWORK</h3>
            </header>
            <form name="loginForm" class="login-form" id="login-form" action="/login">
                <label for="userNameOrEmail" data-label="userNameOrEmail">Type your user name or e-mail</label>
                <input name="userNameOrEmail" class="userNameOrEmail" type="text" required>
                <label for="pswd" data-label="pswd">Type your password</label>
                <input name="pswd" class="pswd" type="password" required>
            </form>
        </div>
        <button id="submit" form="login-form">Enter</button>
    </section>
    <script src="static/scripts/login.js"></script>
</body>
</html>